.footer {
    background-color: white;
    padding: 20px 40px;
    margin: 40px 0 0 0;
    color: $base;
    font-size: 14px;
    text-align: center;
    border-radius: 5px 5px 0 0;
}

.footer-disclaimer {
    margin: 20px 0 0 0;
}

.footer-item {
    display: inline;
    color: $base;
    margin: 5px;
    display: inline;

     a {
        color: $base;
     }
}