.policy {
    color: $baseDarker;
    font-size: 16px;
    max-width: 1344px;
    margin: 30px;
    line-height: 21px;
    text-align: justify;

    h2 {
        font-size: 32px;
        margin: 32px 0;
        font-weight: bold;
    }

    h3 {
        font-size: 21px;
        margin: 21px 0;
        font-weight: bold;
    }

    p {
        margin: 12px 0;
    }
}