.searchbox {
    position: relative;
    display: flex;
    align-items: center;
    height: 34px;
    padding: 0 9px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0);
    position: absolute;
    background-color: white;
    right: 65px;
}
        
.searchbox-icon {
    color: $accent;
    font-size: 18px;
}

.searchbox-input {
    height: 28px;
    border: 0;
    padding: 0;
    width: 0;
}

.friends {
    background-color: white;
    position: absolute;
    top: 34px;
    left: 0px;
    width: 238px;
    border: 1px solid rgba(0,0,0,.25);
    display: none;
    border-radius: 5px;
}

.friend {
    height: 60px;
    font-size: 14px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    padding: 0 15px 0 0;
}

.friend-pic {
    border-radius: 50%;
    height: 38px;
    width: 38px;
    margin: 11px;
    float: left;
}

.friend-name {
    line-height: 60px;
    margin-left: 10px;
    color: $base;
}

.searchbox-input::placeholder {
    color: $base;
    font-size: 12px;
}